.TaskList {
  display: grid;
  gap: 0.5rem;
  overflow: auto;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 45rem;
}

.TaskList__Task {
  display: grid;
  text-align: start;
  grid-template-columns: 1fr auto;
  align-items: baseline;
  gap: 0.5rem;
}
