.ProcessDefer__Form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.ProcessDefer__Label {
  justify-self: end;
}

.ProcessDefer__Buttons {
  grid-column-start: 1;
  grid-column-end: -1;
}
