.TaskEdit__Form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: baseline;
}

.TaskEdit__Label {
  justify-self: end;
}

.TaskEdit__Buttons {
  grid-column-start: 1;
  grid-column-end: -1;
}
